<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  <form action="POST">
    <label for="name">Name</label>
    <input type="text" id="name">
    <button type="submit">Contact</button>
  </form>
</p>
